.partners__logo img {
    width: 150px;
    aspect-ratio: 4/3;
    object-fit: contain;
}
.partners__logo img:nth-child(2) {
    width: 100px;
}

@media (min-width:768px) {
    .partners__logo img {
        width: 17%;
    }
    .partners__logo img:nth-child(1) {
        width: 14%;
    }
    .partners__logo img:nth-child(2) {
        width: 11%;
    }
    .partners__logo img:nth-child(6) {
        width: 14%;
    }
}