<section class="bg-white">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6">
        <div class="text-center">
            <h2 class="mb-2 text-4xl text-center tracking-tight font-extrabold text-gray-900">Sales & Distribution Solutions</h2>
            <app-product *ngFor="let product of snDproducts; let i = index;" [ourProducts]="snDproducts[i]"></app-product>
            <h2 class="mt-9 mb-2 text-4xl text-center tracking-tight font-extrabold text-gray-900">POS Solutions</h2>
            <app-product *ngFor="let product of posProducts; let i = index;" [ourProducts]="posProducts[i]"></app-product>
            <h2 class="mt-9 mb-2 text-4xl text-center tracking-tight font-extrabold text-gray-900">ERP Modules</h2>
            <app-product *ngFor="let product of erpProducts; let i = index;" [ourProducts]="erpProducts[i]"></app-product>
        </div>
    </div>
  </section>