<section class="bg-white">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-6">
            <h1 class="max-w-2xl mb-4 text-2xl font-extrabold tracking-tight leading-none md:text-3xl xl:text-4xl">Our Mission</h1>
            <p class="max-w-2xl mb-6 lg:mb-8 text-[#636468]">
                At <b>Cloud Tenants</b>, our goal is to achieve Excellence in all aspects of the software industry by providing the most robust software solutions and technical innovations by its proactive and dynamic team, meeting and exceeding the utmost level of desired customer satisfaction by enhancing their productivity and increasing their profitability.    
            </p>
        </div>
        <div class="lg:mt-0 lg:col-span-6 lg:flex justify-end">
            <img class="max-w-xs md:max-w-sm" src="../../../../assets/ourmission.png" alt="mockup">
        </div>                
    </div>
</section>