.tech2 {
    background: url('../../../../assets/all1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.tech4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background: url('../../../../assets/all2.png');
}