<section class="bg-white">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6">
        <div>
            <h2 class="mb-4 text-4xl md:text-5xl text-center tracking-tight font-extrabold text-gray-900">Technologies we work on</h2>
        </div>
        <div class="flex flex-col items-center justify-center mt-10">
            <h2 class="mb-4 text-4xl text-center tracking-tight font-extrabold text-gray-900">Cloud Hosting Partner</h2>
            <img class="max-w-sm mt-4" src="../../../../assets/logo1.png" alt="">
        </div>
        <div class="container mx-auto mt-10">
            <h2 class="mb-4 text-4xl text-center tracking-tight font-extrabold text-gray-900">Cloud Hosting Partner</h2>
            <div class="mx-auto items-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 lg:w-[70%] mt-10 justify-center">
              <div class="flex justify-center h-[100px] col-span">
                <img src="../../../../assets/LOGO2.png" alt="Image 1" class="max-w-full h-auto">
              </div>
              <div class="flex justify-center h-[100px]">
                <img src="../../../../assets/LOGO3.png" alt="Image 2" class="max-w-full h-auto">
              </div>
              <div class="flex justify-center h-[100px] MD:justify-self-center bg-red-500">
                <img src="../../../../assets/LOGO4.png" alt="Image 3" class="max-w-full h-auto">
              </div>
            </div>
          </div>
          
    </div>
</section>