<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl  sm:py-16 lg:px-6">
    <div>
      <h2 class="mb-4 text-4xl md:text-5xl text-center tracking-tight font-extrabold text-gray-900">Technologies we work
        on</h2>
    </div>
    <div class="h-[50vh] flex flex-col items-center justify-center mt-10">
      <h2 class="mb-4 text-4xl text-center tracking-tight font-semibold text-gray-900">Cloud Hosting Partner</h2>
      <img class="max-w-xs mt-16" src="../../../../assets/logo1.png" alt="">
    </div>
  </div>
</section>
<section class="tech2">
  <div class="py-8 px-4 mx-auto max-w-screen-xl  sm:py-16 lg:px-6">
    <div class="container h-[50vh] mx-auto mt-10 flex flex-col justify-center items-center">
      <h2 class="mb-4 text-4xl text-center tracking-tight font-semibold text-gray-900">Web Applications</h2>
      <div
        class="mx-auto items-center flex flex-wrap justify-center sm:justify-between lg:w-[70%] gap-8 pt-4 mt-16">
        <div class="flex justify-center h-[100px]">
          <img src="../../../../assets/netlogo.png" alt="Image 1" class="max-w-full h-auto">
        </div>
        <div class="flex justify-center h-[100px]">
          <img src="../../../../assets/LOGO3.png" alt="Image 2" class="max-w-full h-auto">
        </div>
        <div class="flex justify-center h-[100px]">
          <img src="../../../../assets/LOGO4.png" alt="Image 3" class="max-w-full h-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl  sm:py-16 lg:px-6">
    <div class="container h-[50vh] mx-auto mt-10 flex flex-col justify-center items-center">
      <h2 class="mb-4 text-4xl text-center tracking-tight font-semibold text-gray-900">Databases</h2>
      <div
        class="mx-auto items-center flex flex-wrap justify-center sm:justify-between lg:w-[70%] gap-8 pt-4 mt-16">
        <div class="flex justify-center h-[70px]">
          <img src="../../../../assets/logo6.png" alt="Image 1" class="max-w-[230px] h-auto">
        </div>
        <div class="flex justify-center h-[100px]">
          <img src="../../../../assets/logo5.png" alt="Image 2" class="max-w-full h-auto">
        </div>
        <div class="flex justify-center h-[70px]">
          <img src="../../../../assets/logo14.png" alt="Image 3" class="max-w-[230px] h-auto">
        </div>
        <div class="flex justify-center h-[70px] mx-auto">
          <img src="../../../../assets/logo7.png" alt="Image 4" class="max-w-[230px] h-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="tech4">
  <div class="py-8 px-4 mx-auto max-w-screen-xl  sm:py-16 lg:px-6">
    <div class="container h-[50vh] mx-auto mt-10 flex flex-col justify-center items-center">
      <h2 class="mb-4 text-4xl text-center tracking-tight font-semibold text-gray-900">Mobile Applications</h2>
      <div
        class="mx-auto items-center flex flex-wrap justify-center sm:justify-between lg:w-[70%] gap-8 pt-4 mt-16">
        <div class="flex justify-center h-[50px]">
          <img src="../../../../assets/logo8.png" alt="Image 1" class="max-w-[230px] h-auto">
        </div>
        <div class="flex justify-center h-[70px]">
          <img src="../../../../assets/logo9.png" alt="Image 2" class="max-w-full h-auto">
        </div>
        <div class="flex justify-center h-[70px]">
          <img src="../../../../assets/logo10.png" alt="Image 3" class="max-w-[200px] h-auto">
        </div>
        <div class="flex justify-center h-[70px]">
          <img src="../../../../assets/logo11.png" alt="Image 3" class="max-w-[200px] h-auto">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl  sm:py-16 lg:px-6">
    <div class="container h-[50vh] mx-auto mt-10 flex flex-col justify-center items-center">
      <h2 class="mb-4 text-4xl text-center tracking-tight font-semibold text-gray-900">Reporting Tools</h2>
      <div
        class="mx-auto items-center flex flex-wrap justify-center sm:justify-between lg:w-[70%] gap-8 pt-4 mt-16">
        <div class="flex justify-center h-[60px]">
          <img src="../../../../assets/logo12.png" alt="Image 1" class="max-w-[230px] h-auto">
        </div>
        <div class="flex justify-center h-[60px]">
          <img src="../../../../assets/logo13.png" alt="Image 3" class="max-w-[230px] h-auto">
        </div>
      </div>
    </div>
  </div>
</section>