<section class="bg-white">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6 max-w-screen-xl">
        <div>
            <h2 class="mb-4 text-4xl text-left tracking-tight font-extrabold text-gray-900">Schedule a Demo</h2>
        </div>
        <div class="bg-transparent flex flex-row-reverse flex-wrap">
            <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:px-3 lg:mb-0 lg:w-1/2 lg:px-6">
                <div *ngIf="successMessage.state == true" class="bg-[#d4edda] p-2 px-2 rounded-md mb-4">
                    <h1 class="text-[#155724] text-sm"> {{ successMessage.msg }} </h1>
                </div>
                <div *ngIf="validateMessage.state == true" class="bg-[#D4C3CD] p-2 px-2 rounded-md mb-4">
                    <h1 class="text-[#721c24] text-sm"> {{ validateMessage.msg }} </h1>
                </div>
                <form (ngSubmit)="onSubmit()">
                    <div class="flex flex-col md:flex-row gap-4 mb-4 justify-center items-center">
                        <div class="relative w-full">
                            <input type="text" id="name"
                                [(ngModel)]="name"
                                name="name"
                                [value]="name"
                                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                                placeholder=" " />
                            <label for="name"
                                class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Name</label>
                        </div>
                        <div class="relative w-full" data-te-input-wrapper-init>
                            <input type="email" id="businessEmail"
                                [(ngModel)]="businessEmail"
                                name="businessEmail"
                                [value]="businessEmail"
                                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                                placeholder=" " />
                            <label for="businessEmail"
                                class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Business Email</label>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-4 mb-4 justify-center items-center">
                        <div class="relative w-full">
                            <input type="text" id="country"
                                [(ngModel)]="country"
                                name="country"
                                [value]="country"
                                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                                placeholder=" " />
                            <label for="country"
                                class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Country</label>
                        </div>
                        <div class="relative w-full" data-te-input-wrapper-init>
                            <input type="number" id="contact"
                                [(ngModel)]="contact"
                                name="contact"
                                [value]="contact"
                                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                                placeholder=" " />
                            <label for="contact"
                                class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Contact No</label>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-4 mb-4 justify-center items-center">
                        <div class="relative w-full">
                            <input type="text" id="company"
                                [(ngModel)]="company"
                                name="company"
                                [value]="company"
                                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                                placeholder=" " />
                            <label for="company"
                                class="absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Company Name</label>
                        </div>
                        <div class="relative w-full" data-te-input-wrapper-init>
                            <input type="text" id="industry"
                                [(ngModel)]="industry"
                                name="industry"
                                [value]="industry"
                                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                                placeholder=" " />
                            <label for="industry"
                                class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Industry</label>
                        </div>
                    </div>
                    <div class="relative mb-4 w-full" data-te-input-wrapper-init>
                        <!-- <select
                            [(ngModel)]="solutions"
                            name="solutions" 
                            [disabled]="productName != null"
                            multiple
                            [autofocus]="false"
                            id="solutions"
                            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                            placeholder=" "
                            >
                            <option *ngIf="productName == null ; else defaultoption" [value]="null" selected hidden>Select your desired product(s), e.g: Sales & Distribution, POS, etc  </option>
                            <ng-template #defaultoption>
                                <option selected [value]="undefined"> {{ productName }} </option>
                            </ng-template>
                            <option *ngFor="let options of demoOptions"> {{ options }} </option>
                        </select> -->
                        <label for="" class="text-gray-900 text-sm font-medium before:content-['\2022'] before:text-lg before:mr-1.5" >You can select multiple solutions too</label>
                        <ng-select
                            [(ngModel)]="solutions"
                            name="solutions" 
                            [disabled]="productName != null"
                            [multiple]="true"
                            [autofocus]="false"
                            id="solutions"
                            class="block px-2.5 pb-2.5 pt-2.5 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none disabled:!cursor-not-allowed"
                            [placeholder]="productName == null? 'Select your desired product(s), e.g: Sales & Distribution, POS, etc' : productName"
                            tooltip="You can select multiple solutions too"
                            >
                            <ng-option *ngFor="let options of demoOptions"> {{ options }} </ng-option>
                        </ng-select>
                    </div>
                    <div class="relative mb-4 w-full" data-te-input-wrapper-init>
                        <textarea id="message"
                            [(ngModel)]="message"
                            name="message"
                            [value]="message"
                            class="resize-none h-[190px] block px-2.5 pb-2.5 pt-2.5 w-full text-sm text-gray-400 bg-transparent rounded-lg border-2 border-gray-400 focus:ring-0 focus:border-gray-900 peer focus:outline-none"
                            placeholder=" "></textarea>
                        <label for="message"
                            class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-7 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Tell us more about your business & software requirement</label>
                    </div>
                    <button type="submit" class="inline-flex items-center py-3 px-5 text-sm font-medium text-white rounded-lg bg-[#2684C4] sm:w-fit hover:bg-[#155777] focus:outline-none">
                        <span class="mr-2">Submit</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-send" viewBox="0 0 16 16"> <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/> </svg>
                    </button>
    
                </form>
            </div>
            <div class="w-full shrink-0 grow-0 basis-auto lg:w-1/2">
                <div class="flex flex-col justify-center items-center lg:items-start">
                    <h1 class="text-xl font-semibold text-gray-900">For further assistance</h1>
                    <div class="flex items-center text-[#636468] my-4">
                        <svg class="w-5 h-5 font-normal" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 2-8.4 7.05a1 1 0 0 1-1.2 0L1 2m18 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m18 0v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2"/>
                          </svg>
                        <a class="ml-2" href="mailto:sales@cloudtenants.com">sales@cloudtenants.com</a>
                    </div>
                    <div class="flex items-center text-[#636468]">
                        <svg class="w-5 h-5 font-normal" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16.344 12.168-1.4-1.4a1.98 1.98 0 0 0-2.8 0l-.7.7a1.98 1.98 0 0 1-2.8 0l-2.1-2.1a1.98 1.98 0 0 1 0-2.8l.7-.7a1.981 1.981 0 0 0 0-2.8l-1.4-1.4a1.828 1.828 0 0 0-2.8 0C-.638 5.323 1.1 9.542 4.78 13.22c3.68 3.678 7.9 5.418 11.564 1.752a1.828 1.828 0 0 0 0-2.804Z"/>
                          </svg>
                        <a class="ml-2" href="#">+92 21 34971995</a>
                    </div>
                    <img class="max-w-xs mt-5" src="../../../../assets/schd.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>