<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="w-[90%] md:w-[50%] mx-auto">
            <img src="../../../../assets/wmssubbanner.png" alt="">
        </div>
        <div class="text-gray-800 mt-10">
            <div class="mb-12 mt-12 font-medium text-justify text-[#636468]">
                <p class="mb-3">Cloud Tenants’ WMS Extended is a Highly Efficient and effective software to manage Inventory and Stock movement in the Warehouse. The Software is designed to manage extensive operations of the Warehouse, including Inventory Management, Storage, and Movement of goods.</p>
                <p>Get business intelligence and static reports with our user-friendly Power BI dashboards. We aim to reduce operational costs and eliminate human errors from data entry to inventory management, ensuring optimal accuracy at every step. WMS Extended helps to provide businesses maintain accurate stock control as per warehouse layout and storage configuration. Maximize your available warehouse space now with our system-generated suggestions and MRP forecasting features.</p>
            </div>
            <h1 class="text-3xl font-bold capitalize">key features</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
            <h1 class="text-3xl font-bold capitalize mt-16">inbound operations</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles2" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
            <h1 class="text-3xl font-bold capitalize mt-16">outbound operations</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles3" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
        </div>       
    </div>
  </section>