<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="w-[90%] md:w-[50%] mx-auto">
            <img src="../../../../assets/posxsubbanner.png" alt="">
        </div>
        <div class="text-gray-800 mt-10">
            <div class="mb-12 mt-12 font-medium text-justify text-[#636468]">
                <p class="mb-3">Cloud Tenants’ POS Xtreme is a leading Point of Sale Solution suitable for Small Retail Shops to Multi Outlets Businesses. It is the Central Hub for processing Sales, Managing Inventory, and providing an overall Seamless Customer Experience.</p>
                <p>We are here to provide a Competitive advantage over the dynamic retail market, with our scalable and versatile system. POS Xtreme fosters customer management and relationships with its Comprehensive Loyalty Program module, which empowers businesses with repetitive sales and customer satisfaction. Minimize long queues and accelerate checkouts with our Comprehensive Sales Module and Digital Payment Integration.</p>
            </div>
            <h1 class="text-3xl font-bold capitalize">key features</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
            <h1 class="text-3xl font-bold capitalize mt-16">add-on modules</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles2" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
            <h1 class="text-3xl font-bold capitalize mt-16">ERP integrated modules</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10 mb-16">
                <div *ngFor="let tile of tiles3" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
        </div>       
    </div>
  </section>