<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl text-center tracking-tight font-extrabold text-gray-900 dark:text-white">OUR SERVICES</h2>
        </div>
        <div class="space-y-8 justify-center grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div *ngFor="let tile of servicesGridTiles" (mouseenter)="tile.isHovered = true" (mouseleave)="tile.isHovered = false" class="p-6 text-center bg-white hover:bg-[#22B8EE] max-w-sm">
                <div class="flex justify-center items-center mb-4 w-20 h-20 mx-auto">
                    <img [src]="tile.isHovered ? tile.hoverImgSource : tile.imgSource" alt="">
                </div>
                <h3 [ngClass]="tile.isHovered ? 'text-white': 'text-black'" class="mt-4 text-xl font-bold capitalize">{{ tile.title }}</h3>
            </div>
        </div>
    </div>
  </section>