.sidebar__bx {
    background: url('../../../../assets/softwarebanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

