.boarding_banner {
    background: url('../../../../assets/boardingbanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
}