<section class="bg-white">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6 max-w-screen-xl">
        <div class="mb-8">
            <h2 class="mb-4 text-4xl text-center tracking-tight font-extrabold text-gray-900">About Us</h2>
            <p class="text-lg max-w-screen-sm font-semibold text-center text-[#636468] mx-auto">You want to integrate your business management, Our services tie it all together.</p>
        </div>
        <div class="py-5 text-[#636468]">
            <p class="mb-5 text-justify">
                <b>Cloud Tenants Pvt Ltd</b> has evolved in Year 2017 from its Group Company Fourgen Information Systems which has been in software business since 1998. Collectively, Cloud Tenants bear with it an experience of 25+ Years. Over the years, our team of experts has successfully completed software projects with a number of renowned companies in Pakistan & Internationally.
            </p>
            <p class="mb-5 text-justify">
                We offer Cloud Hosted, Web Based & Mobile Applications based solutions, eliminating the heavy infrastructure procurement cost and its regular management/administration costs, yet more versatile, user friendly, mobility enhanced and feature rich solutions.
            </p>
            <p class="mb-5 text-justify">
                Our solutions have supported the businesses to enhance their productivity, increase their profitability & growth. Our efficient Reporting Tools & Management Dashboards help managements take Effective Business Decision for their Businesses.
            </p>
            <p class="text-justify">
                We offer complete integrated environment with our ERP modules, hence, we truly are a One Window Solution Provider.
            </p>
        </div>
    </div>
  </section>