<section class="bg-white">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6 max-w-screen-xl">
        <div class="mb-8">
            <h2 class="mb-4 text-4xl text-center tracking-tight font-extrabold text-gray-900">About Us</h2>
            <p class="text-lg max-w-screen-sm font-semibold text-center text-[#636468] mx-auto">You want to integrate your business management, Our services tie it all together.</p>
        </div>
        <div class="py-5 text-[#636468]">
            <p class="mb-5 text-justify">
                <b>Cloud Tenants Pvt Ltd</b> has evolved in Year <b>2017</b> from its Group Company Fourgen Information Systems which has been in <b>software business since 1998</b>. Collectively, Cloud Tenants bear with it an experience of <b>25+ Years</b> . Over the years, our team of experts has successfully completed software projects with a number of renowned companies in Pakistan & Internationally.
            </p>
            <p class="mb-5 text-justify">
                We offer <b>Cloud Hosted</b>, <b>Web Based</b> & <b>Mobile Applications based solutions</b>, eliminating the heavy infrastructure procurement cost and its regular management/administration costs, yet more versatile, user friendly, mobility enhanced and feature rich solutions.
            </p>
            <p class="mb-5 text-justify">
                Our solutions have supported the businesses to enhance their <b>productivity</b>, increase their <b>profitability</b> & <b>growth</b>. Our efficient <b>Reporting Tools</b> & <b>Management Dashboards</b> help managements take <b>Effective Business Decision</b> for their Businesses.
            </p>
            <p class="text-justify">
                We offer complete integrated environment with our <b>ERP modules</b>, hence, we truly are a <b>One Window Solution Provider</b>.
            </p>
        </div>
    </div>
  </section>