<section class="relative grid max-w-screen-xl lg:grid-cols-12 mx-auto px-4 py-8 lg:py-16 items-center md:h-screen">
  <img class="hidden md:block w-full h-full absolute inset-0 -z-10 object-contain px-[8%] mx-auto" src="../../../../assets/wm.png" alt="">  
  <div class="lg:col-span-6 justify-center items-center grid">
        <h1 class="mb-4 text-[#636468] text-4xl font-semibold uppercase tracking-tight leading-none md:text-6xl xl:text-8xl">about us</h1>
    </div>
    <div class="lg:col-span-6">
        <section class="py-8">
            <div class="container mx-auto">
              <div class="flex flex-wrap justify-center">
                <!-- Statistics Tile 1 -->
                <a [routerLink]="link.link" *ngFor="let link of aboutGridTiles" class="group w-1/1 lg:w-1/2 px-4 mb-8 text-center transform md:hover:scale-110 transition duration-300 ease-linear">
                  <div class="border-2 border-solid border-[#636468] rounded-xl p-7 text-center">
                        <div class="w-20 h-20 mx-auto rounded-full flex items-center justify-center">
                            <img class="group-hover:scale-x-[-1] transition ease-in-out duration-500" [src]="link.url" alt="">
                        </div>
                    </div>
                    <p class="mt-2 text-gray-800 font-semibold"> {{ link.title }} </p>
                  </a>
              </div>
            </div>
          </section>   
    </div>
</section>