<section class="bg__all1 h-screen">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl text-center tracking-tight font-extrabold text-gray-900">Memberships</h2>
        </div>
        <div class="flex justify-between items-center bg-red-500 md:grid md:grid-cols-2 mx-auto">
            <div class="max-w-xs col-span-6 bg-green-500 w-full">
                <img src="../../../../assets/member1.png" alt="">
            </div>
            <div class="max-w-xs col-span-6 bg-green-500 w-full">
                <img src="../../../../assets/member2.png" alt="">
            </div>
        </div>
    </div>
  </section>