<section class="bg__all1 h-screen">
    <div class=" px-4 mx-auto max-w-screen-xl  lg:px-6 h-[100vh] grid items-center">
        <div class=" bg-red-600">
            <h2 class="text-4xl text-center tracking-tight font-extrabold text-gray-900">Memberships</h2>
        </div>
        <div class="flex justify-between items-center md:grid md:grid-cols-2 mx-auto bg-red-400 w-full">
            <div class="max-w-xs h-full flex items-center mx-auto">
                <img src="../../../../assets/member1.png" alt="">
            </div>
            <div class="max-w-xs h-full flex items-center mx-auto">
                <img src="../../../../assets/member2.png" alt="">
            </div>
        </div>
    </div>
  </section>