.bg__all1 {
    background: url('../../../../assets/all1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 70vh;
}

.bg__all2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background: url('../../../../assets/all2.png');
    height: 105vh;
}