.slide {
  animation: 93.3333s linear 1s infinite reverse none running infinityMode;
  aspect-ratio: 4/3;
  object-fit: contain;
}

@keyframes infinityMode {
  0% {
    transform: translate3d(0,0,0);
}
100% {
    transform: translate3d(1400px,0,0);
} 
}

.slide2 {
  animation: 93.3333s linear 1s infinite reverse none running infinityMode2;
  aspect-ratio: 4/3;
  object-fit: contain;
}

@keyframes infinityMode2 {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-1400px,0,0);
  } 
}
