<section class="bg-white">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6">
        <div class="mb-8">
            <h2 class="text-4xl text-center tracking-tight font-extrabold text-gray-900">OUR CUSTOMERS</h2>
            <P class="text-lg text-center font-medium text-[#636468]">We are working with amazing companies.</P>
        </div>
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-4 lg:grid-cols-5 dark:text-gray-400">
            <a href="#" *ngFor="let tile of customerGridTiles" class="flex justify-center items-center">
                <img [src]="tile.imgSource" class="h-16" alt="">                     
            </a>
        </div>
    </div>
  </section>