<section class="bg-[#ECF8FA] relative overflow-hidden">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6 max-w-screen-xl">
        <div id="csHeading" class="mb-8" [ngClass]="{ 'animate__animated': shouldAnimate }">
            <h2 class="text-4xl text-center tracking-tight font-extrabold text-gray-900">OUR CUSTOMERS</h2>
            <P class="text-lg text-center font-medium text-[#636468]">We are working with amazing companies.</P>
        </div>
        <owl-carousel-o [options]="customOptions" id="csGrid" class="flex items-center w-full overflow-hidden" [ngClass]="{ 'animate__animated': shouldAnimate }">
            <ng-container *ngFor="let tile of customerGridTiles1">
                <ng-template carouselSlide>
                    <div>
                        <img [src]="tile.imgSource" class="slide w-[90px] h-[46px]" alt="">
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptions2" class="sl flex items-center w-full overflow-hidden mt-[5rem]">
            <ng-container *ngFor="let tile of customerGridTiles2; let i = index">
                <ng-template carouselSlide>
                    <div>
                        <img [ngClass]="{'object-contain' : i === 3}" [src]="tile.imgSource" class="slide2 w-[90px] h-[46px]" alt="">
                    </div>    
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <div class="flex justify-center items-center py-5 my-8">
            <a routerLink="customers" class="px-5 py-2.5 text-sm font-medium ring-2 focus:outline-none rounded-lg text-center ring-[#105AB6] text-[#105AB6] hover:bg-[#105AB6] hover:text-white mx-auto w-[150px]">Show All</a>
        </div>
    </div>
</section>