.software_banner {
    background: url('../../../../assets/softwarebanner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}