<section class="bg-white h-[70vh]">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6 max-w-screen-xl">
        <div>
            <h2 class="mb-4 text-4xl text-left tracking-tight font-extrabold text-gray-900">Current Vacancies</h2>
        </div>
        <div>
            <p class="text-lg max-w-screen-md text-[#636468]">
                Currently we don't have any job vancany, however, for future refrence please send us your Resume at <a class="hover:underline" href="">careers@cloudtenants.com</a>
            </p>
        </div>
    </div>
  </section>