<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="w-[90%] md:w-[50%] mx-auto">
            <img src="../../../../assets/finsubbanner.png" alt="">
        </div>
        <div class="text-gray-800 mt-10">
            <div class="mb-12 mt-12 font-medium text-justify text-[#636468]">
                <p class="mb-3">Cloud Tenants’ Finance+ software is designed to address common pain points of the finance department such as cash flow management and invoicing process along with the ERP module and many other features related to finance. Automate your manual finance operations and improve and optimize working capital. </p>
                <p>It helps in managing the financial transactions and Accounting activities, including General Ledger, Accounts Payable, Accounts Receivable, Cash Management, and Fixed Assets Management.</p>
            </div>
            <h1 class="text-3xl font-bold capitalize">key features</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
        </div>       
    </div>
  </section>