<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="w-[90%] md:w-[50%] mx-auto">
            <img src="../../../../assets/scmsubbanner.png" alt="">
        </div>
        <div class="text-gray-800 mt-10">
            <div class="mb-12 mt-12 font-medium text-justify text-[#636468]">
                <p class="mb-3">Cloud Tenants’ SCM+ (Supply Chain Management) solution offers an end-to-end Supply Chain Cycle. Our module manages the Procurement, Inventory, and Distribution of Materials and Products and the management of Vendors and Suppliers.</p>
                <p>Maximize your inventory levels and minimize your operational costs by having accurate control and administration over stock management. Make your supply chain process as smooth as silk, by utilizing our latest features of SCM+. Automate your procurement processes and get warehouse team collaboration more than ever before with our Supply Chain Management App.</p>
            </div>
            <h1 class="text-3xl font-bold capitalize">key features</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
            <h1 class="text-3xl font-bold capitalize mt-16">SCM mobile apps</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles2" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
        </div>       
    </div>
  </section>