<section class="bg-white">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-4 xl:gap-0 lg:py-16 lg:grid-cols-12 justify-center">
        <div id="prdDetails" [ngClass]="ourProducts.rowReverse? 'order-2 animateRight' : 'order-1 animateLeft'" class="animate__animated animateLeft lg:col-span-6 place-self-center my-2 md:my-0">
            <img class="w-[200px] md:w-[250px]" [src]="ourProducts.imgSource" alt="">
            <p class=" mb-2 text-[#636468] my-3 text-justify">{{ ourProducts.desc }}.</p> 
            <div class="flex">
                <button (click)="navigateToDemo(ourProducts.label)" [ngClass]="[ourProducts.btnColor, ourProducts.btnHover]" type="button" class="mt-2 px-5 py-2.5 text-sm font-medium text-white focus:outline-none rounded-lg text-center">Schedule a Demo</button>
                <button (click)="navigateToProduct(ourProducts.url)" [ngClass]="[ourProducts.textColor, ourProducts.borderColor]" class="mt-2 px-5 py-2.5 text-sm font-medium hover:ring-2 focus:outline-none rounded-lg text-center ml-2">Read More</button>
            </div>
        </div>
        <div id="prdGrid" [ngClass]="[ourProducts.rowReverse? 'order-1 animateLeft' : 'order-2 animateRight', ourProducts.flexEnd? 'justify-end' : '']" class="animate__animated lg:mt-0 lg:col-span-6 lg:flex my-3">
            <img class="max-w-xs max-h-[325px]" [src]="ourProducts.gridImgSource" alt="mockup">
        </div>                
    </div>
    <div *ngIf="ourProducts.navArrow === true" class="flex justify-center items-center">
        <img class="w-[150px] h-[150px] transform rotate-45" src="../../../../assets/productarrow.png" alt="">
    </div>
</section>