<section class="bg-gray-900">
    <div class="py-8 px-4 mx-auto  sm:py-16 lg:px-6">
        <div class="mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl text-center tracking-tight font-extrabold text-gray-900 dark:text-white">MOBILE APPLICATIONS</h2>
        </div>
        <div class="gap-8 flex flex-wrap justify-center">
            <div *ngFor="let tile of appGridTiles" class="w-[18rem] p-6 text-center bg-white max-w-sm rounded-md">
                <div class="flex justify-center items-center mb-4 w-40 h-40 mx-auto">
                    <img [src]="tile.imgSource" alt="">
                </div>
                <h3 class="mt-4 text-lg font-medium capitalize text-[#446363]">{{ tile.title }}</h3>
            </div>
        </div>
    </div>
  </section>