<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="w-[90%] md:w-[50%] mx-auto">
            <img src="../../../../assets/sndnsubbanner.png" alt="">
        </div>
        <div class="text-gray-800 mt-10">
            <div class="mb-12 mt-12 font-medium text-justify text-[#636468]">
                <p class="mb-3">Elevate your business with our Cloud-based and Web-based Sales & Distribution Management solution that give unparalleled advantage to your organization. Optimize your operational efficiency by streamlining your sales processes with improved customer engagement and better insights into your business with our AI Based Dashboards and Real-Time Reporting. Utilize the Cloud-based features with seamless accessibility from anywhere. Cloud Tenants encourage adaptability and empower insightful decision-making.</p>
                <p>Our Sales and Distribution Software provides tools and features to enhance Sales Efficiency, Track Leads, and Opportunities, Manage Customer Relationships, Automate Sales Tasks, and Analyze Sales and Distribution Performance.</p>
            </div>
            <h1 class="text-3xl font-bold capitalize">key features</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
            <h1 class="text-3xl font-bold capitalize mt-16">dashboard</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10 mb-10">
                <div *ngFor="let tile of tiles2" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
        </div>
        <a routerLink="/softwares/snd-esuite" class="ring-[#0A9AC8] text-[#0A9AC8] mt-5 px-5 py-2.5 text-sm font-medium ring-2 focus:outline-none rounded-lg text-center mx-auto flex w-fit justify-center hover:bg-[#066B8A] hover:text-white hover:ring-[#066B8A]">Explore S&D Add-On Modules</a>  
    </div>
  </section>