<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="w-[90%] md:w-[50%] mx-auto">
            <img src="../../../../assets/prodsubbanner.png" alt="">
        </div>
        <div class="text-gray-800 mt-10">
            <div class="mb-12 mt-12 font-medium text-justify text-[#636468]">
                <p class="mb-3">Join the league of businesses that have successfully transformed their production process with Cloud Tenants’ Production software. Stay ahead in this dynamic landscape of manufacturing with a strategic plan in all your production steps from production to order and return we got you covered with our Production software. We ensure better insights into your production process that result in cost-effective manufacturing operations.</p>
                <p>It offers tools that are designed to assist businesses in Managing, and optimizing their production processes. It helps you Streamline and automate various aspects of Production such as Planning, Scheduling, Inventory Management, Quality Control, and Reporting.</p>
            </div>
            <h1 class="text-3xl font-bold capitalize">key features</h1>
            <hr class="my-2 h-6">
            <div class="flex flex-wrap justify-center items-start gap-10">
                <div *ngFor="let tile of tiles" class="w-[150px] flex flex-col justify-start items-center">
                    <div class="w-[60px] h-[60px]">
                        <img [src]="tile.url" alt="" class="w-full h-full">
                    </div>
                    <p class="text-sm font-medium text-center mt-2"> {{ tile.title }} </p>
                </div>
            </div>
        </div>       
    </div>
  </section>