<div class="w-full py-24 flex items-center">
    <div class="container px-4">
        <div class="max-w-3xl mx-auto space-y-4">
            <div class="space-y-2">
                <span class="py-1 px-4 rounded bg-gray-300 font-semibold mb-1">FAQ</span>
                <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                    Frequently Asked Questions
                </h2>
                <p class="text-gray-500 md:text-xl/relaxed">
                    Got a question? We've got answers. If you have some other
                    questions, feel free to send us an email to <a class="underline" href="mailto:info@cloudtenants.com">
                        info@cloudtenants.com
                    </a></p>
            </div>
            <div class="space-y-4">
                <div *ngFor="let item of faq" class="space-y-2 select-none">
                    <div>
                        <div class="flex items-center justify-between py-2 px-4 cursor-pointer">
                          <div class="flex items-center justify-between space-x-2 w-full" type="button">
                            <span class="text-sm font-semibold">
                              {{item.que}}?
                            </span>
                          </div>
                        </div>
                        <div class="w-full text-sm text-gray-500 px-4">
                          <p> {{item.ans}} </p>
                          <ol class="mt-2 list-disc pl-4"  *ngIf="item.listYN === true">
                            <li *ngFor="let list of item.list">{{list.name}}</li>
                          </ol>
                        </div>
                      </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>