<section class="relative grid max-w-screen-xl lg:grid-cols-12 mx-auto px-4 py-8 lg:py-16 lg:h-screen items-center">
  <img class="hidden md:block w-full h-full absolute inset-0 -z-10 object-contain px-[8%] mx-auto" src="../../../../assets/wm.png" alt="">    
  <div id="edgeHeading"  class="lg:col-span-6 justify-center items-center grid" [ngClass]="{ 'animate__animated': shouldAnimate }">
        <a routerLink="" class="mb-4 text-[#636468] text-4xl font-semibold uppercase tracking-tight leading-none md:text-6xl xl:text-8xl text-center">our edges</a>
    </div>
    <div id="edgeGrid" class="lg:col-span-6" [ngClass]="{ 'animate__animated': shouldAnimate }">
        <section class="py-8">
            <div class="container grid mx-auto">
              <swiper-container class="w-full max-w-[100vw] overflow-hidden max-h-[100vh] min-w-0 min-h-0"
                slides-per-views="1"
                autoplay="true"
                speed="1500"
                arrows="false"
                loop="true"
                pagination="true"
                space-between="20"
                (swiper)="onSwiper($event)"
                (slideChange)="onSlideChange()"
                #swiperContainer
              >
                  <swiper-slide #swiper class="w-full mx-auto">
                    <div class="flex flex-col lg:flex-row flex-wrap justify-center items-center">
                      <div *ngFor="let tile of edgeGridTiles1" class="w-full lg:w-1/2 px-4 md:mb-8 text-center">
                          <div class="p-7 text-center">
                              <span #countUp1 [countUp]="tile.stats" [options]="{ enableScrollSpy: true, separator: ',', suffix: '+', scrollSpyDelay: 200}" class="text-7xl font-bold text-[#22B8EE]">{{ tile.stats }}+</span>
                              <p class="mt-2 text-gray-800 font-semibold text-sm"> {{ tile.title }} </p>
                          </div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide class="w-full mx-auto">
                    <div class="flex flex-col lg:flex-row flex-wrap justify-center items-center">
                      <div *ngFor="let tile of edgeGridTiles2" class="w-full lg:w-1/2 px-4 md:mb-8 text-center">
                          <div class="p-7 text-center">
                              <span #countUp2 [countUp]="tile.stats" [options]="{ enableScrollSpy: true, separator: ',', suffix: '+', scrollSpyDelay: 200, }" class="text-7xl font-bold text-[#22B8EE]">{{ tile.stats }}+</span>
                              <p class="mt-2 text-gray-800 font-semibold text-sm"> {{ tile.title }} </p>
                          </div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide class="w-full mx-auto">
                    <div class="flex flex-col lg:flex-row flex-wrap justify-center items-center">
                      <div *ngFor="let tile of edgeGridTiles3" class="w-full lg:w-1/2 px-4 md:mb-8 text-center">
                          <div class="p-7 text-center">
                              <span #countUp3 [countUp]="tile.stats" [options]="{ enableScrollSpy: true, separator: ',', suffix: '+', scrollSpyDelay: 200, }" class="text-7xl font-bold text-[#22B8EE]">{{ tile.stats }}+</span>
                              <p class="mt-2 text-gray-800 font-semibold text-sm"> {{ tile.title }} </p>
                          </div>
                      </div>
                    </div>
                  </swiper-slide>
                </swiper-container>
            </div>
          </section>   
    </div>
</section>